@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
    background:rgb(26, 26, 26);
    color: white !important;
}

.table{
    color: white !important;
}
